kilppari {
    display: block;
    background: url("../img/turtle.png") no-repeat;
    width: 144px;
    height: 110px;
    background-size: 200px;
    background-position: -32px -27px;
    position: absolute;
}
bat {
    display: block;
    background: url("../img/bat.png") no-repeat;
    width: 142px;
    height: 76px;
    background-size: 568px;
    background-position: 0px 0px;
    position: absolute;
}
/*
27
167
 */
